
	--chat--window--width: 400px;
	--chat--window--height: 600px;

	--chat--header-height: auto;
	--chat--header--padding: var(--chat--spacing);
	--chat--header--background: var(--chat--color-dark);
	--chat--header--color: var(--chat--color-light);
	--chat--header--border-top: none;
	--chat--header--border-bottom: none;
	--chat--heading--font-size: 1.5em;
	--chat--subtitle--font-size: 0.9em;
	--chat--subtitle--line-height: 1.5;

	--chat--textarea--height: 50px;

	--chat--message--font-size: 0.75rem;
	--chat--message--padding: var(--chat--spacing);
	--chat--message--border-radius: var(--chat--border-radius);
	--chat--message-line-height: 1.5;
	--chat--message--bot--background: var(--chat--color-white);
	--chat--message--bot--color: var(--chat--color-dark);
	--chat--message--bot--border: none;
	--chat--message--user--background: var(--chat--color-secondary);
	--chat--message--user--color: var(--chat--color-white);
	--chat--message--user--border: none;
	--chat--message--pre--background: rgba(0, 0, 0, 0.05);

	--chat--toggle--background: black;
	--chat--toggle--hover--background: black;
	--chat--toggle--active--background: black;
	--chat--toggle--color: var(--chat--color-white);
	--chat--toggle--size: 64px;
}

